extends baseEmail

block content
    p Hi #{firstName},
        p Password Reset link from Natours, Dont worry your account is safe.
        p This is a password reset email. Please press the below link to reset your password. 
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset password
        p If you didn't forget password? Then please ignore this email.